html{
  color:#023e8a;
  background-color:yellow;
}
h1{
  text-align:center;
}
body{
  text-align:center;
}
.menu{
  list-style:none;
  font-family:sans-serif;
  float:center;
  top:10px;
  right:30px;
  cursor:pointer;
  color:#023e8a;
}