h1{
  text-align:center;
}
body{
  text-align:center;
  color:#023e8a;
  background-color:yellow;
}
.menu{
  list-style:none;
  font-family:sans-serif;
  float:right;
  top:10px;
  right:30px;
  cursor:pointer;
  color:#023e8a;
}

.link{
  color:lime;
  display:inline;
  padding:5px 9px 5px 9px;
}
html{
  scroll-behavior:smooth;
}
img{
  transition:transform .2s;
  border: solid #AAAAAA;
}

img:hover {
  transform:scale(0.9);
}
